html {
  background-color: #f3d7ca;
}

header{
  justify-content: flex-start;
}

p{
  font-weight: bolder;
  font-size: 2rem;
}

.category-items {
  margin-top: 10rem;
  background-color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-content{
  width: 13%;
}

