/* color palette
yellow  #FFD064
blue #C2E1E5
beige #FAF6E7
light pink #F3D7CA
pink #E6A4B4 
heart red #F54E4E*/

html {
  background-color: #f3d7ca;
}

header {
  justify-content: flex-start;
}

.header-p {
  font-weight: bolder;
  font-size: 2rem;
  color: #faf6e7;
}

.to-receive,
.category-items {
  margin-top: 10rem;
  background-color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.to-receive-content {
  background-color: #faf6e7;
  padding: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.to-receive-description {
  max-width: 45%;
}

.product-name {
  font-weight: bolder;
  font-size: 2rem;
  color: #777777;
}

.description-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ori-price {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #777777;
  text-align: end;
  margin-right: 1rem;
}

.discount {
  font-size: 2rem;
  color: #e6a4b4;
  font-weight: bold;
  text-align: end;
}

.description-loc-time {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.description-content i {
  color: #e6a4b4;
  font-size: 1.7rem;
}

.description {
  color: #777777;
  font-size: 1.7rem;
  text-transform: none;
}

.btn-confirm {
  background-color: #e6a4b4;
  padding: 0.6rem 4rem;
  border-radius: 5rem;
  max-width: max-content;
}

.to-receive-img-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: end;
}

.to-receive-img-info img {
  max-width: 35%;
  border-radius: 3rem;
}

.to-receive-img-info p {
  color: #696969;
  opacity: 50%;
  margin: 2rem 0 0 0;
  text-transform: none;
}

.lead {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.lead-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf6e7;
  border-radius: 5rem;
  padding: 1rem;
}

.lead-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6a4b4;
  padding: 0.6rem 3rem;
  border-radius: 3rem;
  margin: 0 1rem;
}

.lead-content p {
  color: #777777;
}

@media (max-width: 991px) {
  .lead-container {
    padding: 0.8rem 1.5rem;
  }
  .lead-content a {
    padding: 0.3rem 1.5rem;
  }
}
@media (max-width: 768px) {
  .lead-container {
    padding: 0.8rem 0.75rem;
  }
  .lead-content a {
    padding: 0.2rem 1rem;
  }
}

@media (max-width: 450px) {
  .lead-container {
    padding: 0.2rem 0.4rem;
  }
  .lead-content a {
    padding: 0.2rem 1rem;
    font-size: 0.2rem;
  }
}
